.about-section {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.8) 0%,
      rgba(255, 255, 255, 0.9) 35%,
      rgba(255, 255, 255, 0.9) 65%,
      rgba(255, 255, 255, 0.8) 100%
    ),
    url(/images/bg/white_hexagons.jpg);
}
